.textDiet {
    color: rgb(255, 255, 255);
    font-weight: 700;
        font-size: 68px;
        line-height: 124%;
        max-width: 550px;
        margin: 54px 0;
}
.textUnderDiet {
    font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.02em;
        max-width: 600px;
        color: white;
}