.wrapperFoSeasonings {
    margin-left: auto;
}

.textUpperSeasonings {
        font-weight: 400;
            font-size: 24px;
            line-height: 140%;
            letter-spacing: 0.02em;
            max-width: 550px;
            color: white;
            margin:0 0 84px 0;
}