@import '../../../commonStyle.scss/styles.scss';
@import '../seasons&dish/firstDish.module.scss';
@import '../../main/seasons&dish/seasoning.module.scss';

.container {
        padding: 30px  138px;
        margin: 0 auto;
        display: flex;
}

.first_section {
padding: 180px 0 32px;
    background-color: rgba(35, 48, 0, 1);
}

.wrapperForText {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.wrapperForDscr {
    margin-top: 550px;
}

.title {
    color: rgb(255, 255, 255);
    position: absolute;
    font-weight: 700;
    max-width: 1100px;
font-size: 148px;
        margin-bottom: 50px;
        z-index: 2;
        margin: 0;
}
.text {
    font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.02em;
        max-width: 500px;
        color: white;
    margin-bottom: 50px;
}
.verticalText {
    position: relative;
    left: -50px;
    font-weight: 700;
        font-size: 48px;
        line-height: 133%;
        color: #ffffff;
        writing-mode: vertical-lr;
}
.verticalText::after {
    padding: 10px 0 0 0;
    content: " - ";
    position: absolute;

}