.header_list {
    flex-direction: row;
    margin-left: auto;
    gap: 36px;
    @include flex-center
}
.number a {
    font-weight: 400;
        font-size: 26px;
        color: #ffffff;
        font-family: Lato serif;
}
.reservation_link a {
            font-family: Lato serif;
font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 26px 40px;
}